@charset "UTF-8";
@import url(../css/font-awesome.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* -+-+-+-+-+- TOOLS -+-+-+-+-+- */
.center { max-width: 1000px; margin: 0 auto; }

.clear { clear: both; }

.f-left { float: left; }

.f-right { float: right; }

/* ======================= */
/* GLOBAL
*/
body { color: #555555; font-family: "Source Sans Pro", Helvetica, Arial, Sans-serif; font-weight: 400; font-size: 14px; font-size: 0.875rem; background: white url(../img/bkg-body.png) repeat-x left top; }

body.inicial { background: white url(../images/bkg-body-inicial.png) repeat-x left top; }

a { color: inherit; text-decoration: none; }

h2.page-title { display: block; margin: 10px 0; border-bottom: 5px solid #0466a9; font-size: 25px; font-size: 1.5625rem; text-transform: uppercase; padding: 5px 0; }

h2.page-title i { color: #ff9900; font-size: 40px; font-size: 2.5rem; margin-right: 5px; }

#illustration { width: 1000px; margin: 0 auto; height: 70px; background: transparent url(../imgages/camaro.jpg) no-repeat center center; }

/* ======================= */
/* HEADER
*/
header { height: 130px; }

header .center { position: relative; }

#logo { width: 211px; height: 201px; background: url(../images/logo.png) no-repeat center center; text-indent: -9999px; overflow: hidden; position: absolute; top: 0; left: 0; z-index: 10; }

.main-search { float: left; margin: 20px 0 0 260px; }

.main-search input { display: block; float: left; padding: 7px 5px; background-color: #FFF; border: 0; width: 200px; font-size: 14px; font-size: 0.875rem; }

#search { display: block; float: left; background-color: #0466a9; color: #FFF; padding: 5px; border: 0; font-size: 18px; font-size: 1.125rem; cursor: pointer; }

#login { display: block; float: right; padding: 7px 10px; border: 1px solid #FFF; color: #FFF; margin-top: 20px; text-transform: uppercase; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -webkit-transition: all 300ms linear; transition: all 300ms linear; }

#login:hover, #login.active { color: #0466a9; background-color: #FFF; }

#login-box { display: none; position: absolute; top: 49px; right: 0; z-index: 11; padding: 10px; background: #FFF; }

#login-box input { display: block; background: #FFF; border: 1px solid #cccccc; padding: 5px; font-size: 12px; font-size: 0.75rem; width: 140px; }

#login-box button { display: block; float: left; padding: 5px 7px; margin-left: 5px; border: 0; background-color: #0466a9; color: #FFF; font-size: 14px; font-size: 0.875rem; cursor: pointer; }

h1 { display: block; float: left; font-size: 20px; font-size: 1.25rem; font-weight: 600; color: #FFF; margin: 46px 0 0 180px; }

nav { float: right; margin-top: 39px; color: #FFF; }

nav a { display: block; float: left; padding: 10px; margin-left: 5px; background: #0466a9; color: #FFF; font-size: 16px; font-size: 1rem; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -webkit-transition: all 300ms linear; transition: all 300ms linear; }

nav a:hover, nav a.active { background: #FFF; color: #0466a9; }

/* ======================= */
/* BANNER
*/
#banner { width: 1000px; margin: 0 auto; }

#banner img { display: block; }

/* ======================= */
/* PESQUISA
*/
#pesquisa { margin-top: 10px; }

#pesquisa h2 { font-size: 18px; font-size: 1.125rem; margin-top: 5px; margin-bottom: 10px; }

#pesquisa input, #pesquisa select, #pesquisa button { padding: 0 5px; height: 30px; background: #FFF; border: 1px solid #cccccc; color: #555555; }

#pesquisa input, #pesquisa select { margin-right: 10px; font-size: 14px; font-size: 0.875rem; }

#pesquisa button { background-color: #0466a9; color: #FFF; border: 1px solid #0466a9; font-size: 14px; font-size: 0.875rem; height: 32px; padding: 0 20px; }

#pesquisa .center { background: #eeeeee; }

#busca-chassis { float: left; height: 74px; padding: 10px 20px; border-right: 1px solid #cccccc; }

#busca-modelo { float: left; height: 74px; padding: 10px 20px; }

/* ======================= */
/* MARCAS
*/
#marcas { background: #eeeeee; }

#marcas .center{ border-top: 1px solid #cccccc; }

#galeria-marcas { display: block; width: 150px; height: 60px; margin: 0 0 10px; padding: 10px 0; }

#galeria-marcas li img { display: block; }

/* ======================= */
/* ÚLTIMO CARRO
*/
#ultimo-carro img { display: block; }

#ultimo-carro h2 { display: block; margin: 10px 0; border-bottom: 5px solid #0466a9; font-size: 25px; font-size: 1.5625rem; text-transform: uppercase; padding: 5px 0; }

#ultimo-carro h2 i { color: #ff9900; font-size: 40px; font-size: 2.5rem; margin-right: 5px; }

.main-pic { width: 500px; height: 300px; float: left; margin-right: 25px; }

#small-pics { width: 475px; float: left; }

#small-pics h3 { display: block; margin-bottom: 10px; padding-bottom: 10px; font-size: 22px; font-size: 1.375rem; text-transform: uppercase; font-weight: 300; border-bottom: 3px double #cccccc; }

#small-pics h3 span { text-transform: none; color: #0466a9; font-size: 14px; font-size: 0.875rem; font-weight: 400; }

#small-pics li { float: left; margin: 0 10px 10px 0; }

#ultimo-carro h4 { font-size: 20px; font-size: 1.25rem; margin: 20px 0 10px; }

/* ======================= */
/* APOIO
*/
#apoio { margin-top: 40px; }

#apoio h2 { display: block; margin-bottom: 10px; padding-bottom: 10px; font-size: 22px; font-size: 1.375rem; text-transform: uppercase; font-weight: 300; border-bottom: 3px double #cccccc; }

#apoio a { display: block; width: 49%; height: 100px; background-color: #eeeeee; margin-right: 2%; float: left; }

#apoio a:last-child { margin-right: 0; }

.links, .parceiros { width: 48%; float: left; }

.links { margin-right: 4%; }

/* ======================= */
/* RODAPÉ
*/
footer .center { border-top: 1px solid #cccccc; padding: 10px 0; margin: 50px auto; }

footer .center .f-left { min-width: 500px; }

#assinatura { width: 50px; height: 47px; float: left; margin-right: 10px; background: transparent url(../images/assinatura.png) no-repeat center center; }

.copyrights { font-size: 12px; font-size: 0.75rem; }

.footer-menu { margin-bottom: 20px; }

.footer-menu li { display: inline; margin-right: 30px; }

/* ======================= */
/* SOBRE
*/
.col-left { width: 380px; float: left; }

.col-right { width: 600px; float: right; }

.col-right p { line-height: 1.3em; margin-bottom: 10px; }

.col-center { width: 380px; margin: 0 auto; }

/* ======================= */
/* GALERIA
*/
#galeria li { width: 150px; height: 220px; float: left; margin: 0 20px 10px 0; }

#galeria li a { display: block; }

#galeria li:nth-child(6n) { margin-right: 0; }

#galeria li a .box-image { width: 150px; height: 150px; margin-bottom: 5px; }

#galeria li a .box-image img { display: block; }

#galeria li a h3 { color: #444; font-size: 20px; font-size: 1.25rem; font-weight: 300; }

#galeria li a p { color: #444; font-size: 16px; font-size: 1rem; }

#galeria li a p.marca { color: #0466a9; font-size: 14px; font-size: 0.875rem; font-weight: 600; }

#carro img { display: block; }

#carro h4 { font-size: 20px; font-size: 1.25rem; margin: 20px 0 10px; }

/* ======================= */
/* CADASTRO
*/
.col-left p { margin: 10px 0 20px; }

#cadastro input, #cadastro select { display: block; height: 30px; border: 1px solid #cccccc; margin-bottom: 10px; font-size: 18px; font-size: 1.125rem; font-family: "Source Sans Pro", Helvetica, Arial, Sans-serif; color: #888888; padding: 0 5px; box-sizing: border-box; }

.i-left { width: 220px; float: left; }

.i-right { width: 140px; float: right; }

.i-half { width: 180px; float: left; }

.i-first { margin-right: 20px; }

#cadastro button { padding: 5px 30px; border: 1px solid #0466a9; background-color: transparent; color: #0466a9; font-size: 16px; font-size: 1rem; font-family: "Source Sans Pro", Helvetica, Arial, Sans-serif; text-transform: uppercase; text-align: center; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; cursor: pointer; float: right; }
#cadastro button:hover { background-color: #0466a9; color: #FFF; }

/* ======================= */
/* CONTATO
*/
.col-center p { margin: 10px 0 20px; }

#contato input, #contato textarea { display: block; border: 1px solid #cccccc; margin-bottom: 10px; font-size: 18px; font-size: 1.125rem; font-family: "Source Sans Pro", Helvetica, Arial, Sans-serif; color: #888888; padding: 0 5px; box-sizing: border-box; width: 100%; }

#contato input { height: 30px; }

#contato textarea { height: 120px; resize: none; }

#contato button { padding: 5px 30px; border: 1px solid #0466a9; background-color: transparent; color: #0466a9; font-size: 16px; font-size: 1rem; font-family: "Source Sans Pro", Helvetica, Arial, Sans-serif; text-transform: uppercase; text-align: center; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; cursor: pointer; float: right; }
#contato button:hover { background-color: #0466a9; color: #FFF; }
