@charset "UTF-8";
@import url(../css/font-awesome.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* -+-+-+-+-+- TOOLS -+-+-+-+-+- */
.center { max-width: 1000px; margin: 0 auto; }

.clear { clear: both; }

.f-left { float: left; }

.f-right { float: right; }

/* ======================= */
/* GLOBAL
*/
body { color: #555555; font-family: "Source Sans Pro", Helvetica, Arial, Sans-serif; font-weight: 400; font-size: 14px; font-size: 0.875rem; background: white url(../img/bkg-body.png) repeat-x left top; }

body.inicial { background: white url(../images/bkg-body-inicial.png) repeat-x left top; }

a { color: inherit; text-decoration: none; }

h2.page-title { display: block; margin: 10px 0; border-bottom: 5px solid #0466a9; font-size: 25px; font-size: 1.5625rem; text-transform: uppercase; padding: 5px 0; }

h2.page-title i { color: #ff9900; font-size: 40px; font-size: 2.5rem; margin-right: 5px; }

#illustration { width: 1000px; margin: 0 auto; height: 70px; background: transparent url(../images/camaro.jpg) no-repeat center center; }

/* ======================= */
/* HEADER
*/
header { height: 130px; }

header .center { position: relative; }

#logo { width: 211px; height: 201px; background: url(../images/logo.png) no-repeat center center; text-indent: -9999px; overflow: hidden; position: absolute; top: 0; left: 0; z-index: 10; }

.main-search { float: left; margin: 20px 0 0 260px; }

.main-search input { display: block; float: left; padding: 10px 5px; background-color: #FFF; border: 0; width: 300px; font-size: 14px; font-size: 0.875rem; }

#search { display: block; float: left; background-color: #0466a9; color: #FFF; padding: 5px; border: 0; font-size: 18px; font-size: 1.125rem; cursor: pointer; }

#login { display: block; float: right; padding: 7px 10px; border: 1px solid #FFF; color: #FFF; margin-top: 20px; text-transform: uppercase; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -webkit-transition: all 300ms linear; transition: all 300ms linear; }

#login:hover, #login.active { color: #0466a9; background-color: #FFF; }

#login-box { display: none; position: absolute; top: 49px; right: 0; z-index: 11; padding: 10px; background: #FFF; }

#login-box input[type=text],
#login-box input[type=password]{ display: block; background: #FFF; border: 1px solid #cccccc; padding: 5px; font-size: 12px; font-size: 0.75rem; width: 140px; margin-top:5px; }
#login-box .input-radio{ width:50%; float:left; }

#login-box button { display: block; float: left; padding: 5px 3px; margin-left: 5px; border: 0; background-color: #0466a9; color: #FFF; font-size: 14px; font-size: 0.875rem; cursor: pointer; margin-top:5px; }
#login-box .esqueceu-senha{ font-size:12px; color:#777; margin-top:5px; }

h1 { display: block; float: left; font-size: 20px; font-size: 1.25rem; font-weight: 600; color: #FFF; margin: 37px 0 0 180px; }

nav { float: right; margin-top: 30px; color: #FFF; }

nav a { display: block; float: left; padding: 10px; margin-left: 5px; background: #0466a9; color: #FFF; font-size: 16px; font-size: 1rem; -moz-transition: all 300ms linear; -o-transition: all 300ms linear; -webkit-transition: all 300ms linear; transition: all 300ms linear; }

nav a:hover, nav a.active { background: #FFF; color: #0466a9; }

/* ======================= */
/* BANNER
*/
#banner { width: 1000px; margin: 0 auto; }

#banner img { display: block; }

/* ======================= */
/* PESQUISA
*/
#pesquisa { margin-top: 10px; }

#pesquisa h2 { font-size: 18px; font-size: 1.125rem; margin-top: 5px; margin-bottom: 10px; }

#pesquisa input, #pesquisa select, #pesquisa button { padding: 0 5px; height: 30px; background: #FFF; border: 1px solid #cccccc; color: #555555; }

#pesquisa input, #pesquisa select { margin-right: 10px; font-size: 14px; font-size: 0.875rem; }

#pesquisa button { background-color: #0466a9; color: #FFF; border: 1px solid #0466a9; font-size: 14px; font-size: 0.875rem; height: 32px; padding: 0 20px; }

#pesquisa .center { background: #eeeeee; }

#busca-chassis { float: left; height: 74px; padding: 10px 20px; border-right: 1px solid #cccccc; }

#busca-modelo { float: left; height: 74px; padding: 10px 20px; }

#busca-categoria{ width:220px !important; }

/* ======================= */
/* MARCAS
*/
#marcas { background: #eeeeee; }

#marcas .center{ border-top: 1px solid #cccccc; }

#galeria-marcas { display: block; float:left; width: 150px; height: 60px; margin: 0 0 10px; padding: 10px 0; }

#galeria-marcas li{ height:60px; }

#galeria-marcas li img { display: block; width:100%; }

/* ======================= */
/* CARROS FAVORITOS
*/
#favoritos img { display: block; }

#favoritos h2 { display: block; margin: 10px 0; border-bottom: 5px solid #0466a9; font-size: 25px; font-size: 1.5625rem; text-transform: uppercase; padding: 5px 0; }

#favoritos h2 i { color: #ff9900; font-size: 40px; font-size: 2.5rem; margin-right: 5px; }

#galeria-favoritos{ width:640px; height:480px; float:left; }

#chamada-cadastro{ width:350px; height:480px; float:left; margin-left:10px; }

/* ======================= */
/* APOIO
*/
#apoio { margin-top: 40px; }

#apoio h2 { display: block; margin-bottom: 10px; padding-bottom: 10px; font-size: 22px; font-size: 1.375rem; text-transform: uppercase; font-weight: 300; border-bottom: 3px double #cccccc; }

#apoio a { display: block; width: 23.5%; height: 100px; margin-right: 2%; float: left; cursor:pointer; }

#apoio a:last-child { margin-right: 0; }

.links { width:100%; }
/*.parceiros{ display:none; }*/

#apoio a.sinesp{ background:#BBCFDA url(../images/sinesp.jpg) no-repeat center center; }
#apoio a.fipe{background:#003169 url(../images/fipe.jpg) no-repeat center center; }
#apoio a.clientes{background:#003169 url(../images/clientes-parceiros.jpg) no-repeat center center; }
#apoio a.chassis{background:#003169 url(../images/recuperacao-chassis.jpg) no-repeat center center; }

/* ======================= */
/* RODAPÉ
*/
footer .center { border-top: 1px solid #cccccc; padding: 10px 0; margin: 50px auto; }

footer .center .f-left { min-width: 500px; }

#assinatura { width: 50px; height: 47px; float: left; margin-right: 10px; background: transparent url(../images/assinatura.png) no-repeat center center; }

.copyrights { font-size: 12px; font-size: 0.75rem; }

.footer-menu { margin-bottom: 20px; }

.footer-menu li { display: inline; margin-right: 30px; }

/* ======================= */
/* SOBRE
*/
.col-left { width: 380px; float: left; }

.col-right { width: 600px; float: right; }

.col-right p { line-height: 1.3em; margin-bottom: 10px; }

.col-center { width: 380px; margin: 0 auto; }

/* ======================= */
/* GALERIA
*/
#galeria li { width: 150px; height: 220px; float: left; margin: 0 20px 10px 0; }

#galeria li a { display: block; }

#galeria li:nth-child(6n) { margin-right: 0; }

#galeria li a .box-image { width: 150px; margin-bottom: 10px; }

#galeria li a .box-image img { display: block; }

#galeria li a h3 { color: #444; font-size: 20px; font-size: 1.25rem; font-weight: 300; }

#galeria li a p { color: #444; font-size: 16px; font-size: 1rem; }

#galeria li a p.marca { color: #0466a9; font-size: 14px; font-size: 0.875rem; font-weight: 600; }

#carro img { display: block; }

#carro h4 { font-size: 20px; font-size: 1.25rem; margin: 20px 0 10px; }

/* ======================= */
/* CADASTRO
*/
.col-cadastro{ width:396px; float:left; margin-right:42px; }
.col-left p { margin: 10px 0 20px; }

.col-cadastro fieldset{ border:1px solid #CCC; padding:10px; margin-bottom:20px; }
.col-cadastro fieldset legend{ padding:0 10px; text-transform:uppercase; }
#cadastro fieldset.termos input{ display:inline; height:auto; margin:0 10px 0 0; }

#cadastro input, #cadastro select { display: block; height: 30px; border: 1px solid #cccccc; margin-bottom: 10px; font-size: 18px; font-size: 1.125rem; font-family: "Source Sans Pro", Helvetica, Arial, Sans-serif; color: #888888; padding: 0 5px; box-sizing: border-box; }
#cadastro select{ width:100%; }

.i-full { width: 100%; float: none; }

.i-left { width: 220px; float: left; }

.i-right { width: 140px; float: right; }

.i-half { width: 177px; float: left; }

.i-first { margin-right: 20px; }

#cadastro button { padding: 5px 30px; border: 1px solid #0466a9; background-color: transparent; color: #0466a9; font-size: 16px; font-size: 1rem; font-family: "Source Sans Pro", Helvetica, Arial, Sans-serif; text-transform: uppercase; text-align: center; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; cursor: pointer; float: right; }
#cadastro button:hover { background-color: #0466a9; color: #FFF; }

#botao-pagseguro{ cursor:pointer; float:right; margin-right:-3px; }

#plano-anual,
#plano-mensal{ display:block; width:260px; height:305px; float:left; transition:all 300ms ease-in-out; }
#plano-anual{ background:url(../images/plano-anual.jpg) no-repeat center center; }
#plano-mensal{ background:url(../images/plano-mensal.jpg) no-repeat center center; margin-right:42px; }

#plano-anual.faded,
#plano-mensal.faded{ opacity:0.4; }

/* ======================= */
/* CONTATO
*/
.col-center p { margin: 10px 0 20px; }

#contato input, #contato textarea { display: block; border: 1px solid #cccccc; margin-bottom: 10px; font-size: 18px; font-size: 1.125rem; font-family: "Source Sans Pro", Helvetica, Arial, Sans-serif; color: #888888; padding: 0 5px; box-sizing: border-box; width: 100%; }

#contato input { height: 30px; }

#contato textarea { height: 120px; resize: none; }

#contato button { padding: 5px 30px; border: 1px solid #0466a9; background-color: transparent; color: #0466a9; font-size: 16px; font-size: 1rem; font-family: "Source Sans Pro", Helvetica, Arial, Sans-serif; text-transform: uppercase; text-align: center; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; cursor: pointer; float: right; }
#contato button:hover { background-color: #0466a9; color: #FFF; }

/* ======================= */
/* CARRO ÚNICO
*/
#ultimo-carro img { display: block; }

#ultimo-carro h2 { display: block; margin: 10px 0; border-bottom: 5px solid #0466a9; font-size: 25px; font-size: 1.5625rem; text-transform: uppercase; padding: 5px 0; }

#ultimo-carro h2 i { color: #ff9900; font-size: 40px; font-size: 2.5rem; margin-right: 5px; }

.main-pic { width: 500px; height: 375px; float: left; margin-right: 25px; overflow:hidden; }

.main-pic img{ display:block; width:100%; }

#small-pics { width: 475px; float: left; }

#small-pics h3 { display: block; margin-bottom: 10px; padding-bottom: 10px; font-size: 22px; font-size: 1.375rem; text-transform: uppercase; font-weight: 300; border-bottom: 3px double #cccccc; }

#small-pics h3 span { text-transform: none; color: #0466a9; font-size: 14px; font-size: 0.875rem; font-weight: 400; }
#small-pics .titulos{ float:left; width:70px; }

#small-pics li { float: left; margin: 0 10px 30px 0; width:125px; height:90px; overflow:hidden; }

#small-pics li img{ display:block; width:100%; }

#small-pics h4{ line-height:60px; margin-bottom:58px; }

#ultimo-carro h4 { font-size: 20px; font-size: 1.25rem; margin: 20px 0 10px; }

.conteudo-carro{ display:none; }

/* ======================= */
/* USUÁRIO LOGADO
*/
#logged-in{ float:right; padding-top:20px; text-align:right; color:#FFF; }
#logged-in .info-user{ float:left; }
#logged-in .actions{ float:right; margin-left:10px; }
#logged-in h2{ font-size:16px; }
#logged-in h3{ font-size:14px; font-weight:bold; }
#sair{ display::block; float:right; color:#F33; font-size:12px; }
#minha-conta{ display::block; float:right; font-size:32px; }

/* ======================= */
/* PARCEIROS
*/
#parceiros{}
#parceiros li{ float:left; width:23.5%; margin:0 2% 10px 0; position:relative; cursor:default; }
#parceiros li:nth-child(4n){ margin-right:0; }
#parceiros li img{ display:block; width:100%; }
#parceiros li .hover{ display:none; position:absolute; top:0; left:0; width:100%; height:100%; padding:10px; background:url(../images/bkg-overlay.png) repeat; box-sizing:border-box; color:#FFF; }
#parceiros li .hover h3{ display:block; width:100%; border-bottom:1px solid #FFF; padding-bottom:10px; margin-bottom:10px; font-size:16px; text-transform:uppercase; }
#parceiros li .hover .endereco{}
#parceiros li .hover .telefone{ font-size:18px; margin-top:10px; }

#parceiros li.nopic .hover{ display:block !important; height:157px; background:#0466a9; }

#pg404{ display:block; margin:100px 0; text-align:center; font-size:20px; text-transform:uppercase; font-weight:400; }
#pg404 i{ display:inline-block; color:#ff9900; font-size:24px; margin-right:5px; }
#pg404 a{ color:#0466a9; }

.siteblindado{ width:115px; height:36px; background:url(../images/siteseguro.jpg) no-repeat center center; float:right; margin-right:30px; }
#estudio{ display: block; float: left; width: 51px; height: 34px; background: url(../images/ffw.png) no-repeat scroll center center transparent; }
.creatos em{ float:left; font-family:"Times New Roman", serif; font-size:30px; margin:5px 10px; }
.creatos span{ width:60px; float:left; font-weight:bold; margin-top:5px; }

/* ======================= */
/* FEITO POR ISRAEL
*/

.alert-danger{color:#a94442;background-color:#f2dede;border-color:#ebccd1}
.alert{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px}
.alert-warning{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}
.alert-success{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}
.alert-danger-estilo{ text-align: center; margin-top: 5px; margin-bottom: 5px; }

/* ======================= */
/* RECUPERAÇÃO DE CHASSI
*/
#rec-chassis{ }
#rec-chassis .pic-wrapper{ width:100%; text-align:center; }
#rec-chassis p{ width:86%; margin:0 auto; line-height:1.3em; }
#rec-chassis a{ display:block; text-align:center; margin:20px 0; font-size:28px; }

/* ======================= */
/* Lightbox
*/
#overlay{ display:none; position:fixed; z-index:10009; top:0; left:0; width:100%; height:100%; background-color:rgba(4,102,169,0.9); }
#fechar{ display:block; width:30px; height:30px; border:2px solid #FFF; text-align:center; line-height:26px; font-size:22px; font-weight:300; color:#FFF; position:absolute; top:50%; margin-top:-340px; right:50%; margin-right:-290px; }
#dialog{ box-sizing:border-box; width:500px; height:500px; position:absolute; top:50%; left:50%; margin-left:-250px; margin-top:-300px; background-color:#FFF; padding:20px; overflow-x:scroll; }
#dialog h2{ text-transform:uppercase; color:#0466a9; font-size:18px; }
#dialog p{ margin:10px 0; line-height:1.3em; }

/* ======================= */
/* Prévia
*/
#previa{ display:block; float:left; max-width:700px; font-size:28px; color:#0466a9; font-weight:300; margin:25px 0 0 100px; }

/* ======================= */
/* Minha conta
*/
#tabs{ float:left; width:30%; border-bottom:1px solid #CCC; }
#tabs li{  }
#tabs li a{ display:block; height:50px; line-height:50px; border:1px solid #CCC; border-bottom:0; background-color:#FFF; text-align:center; text-transform:uppercase; font-size:16px; outline:none; }
#tabs li a.current{ background-color:#EEE; color:#0466a9; }

.conta .sections{ width:68%; float:left; margin-left:2%; }
.conta .sections section{ display:none; }
.conta h3{ text-transform:uppercase; color:#0466a9; font-size:22px; margin-bottom:15px; }
.conta h4{ font-weight:700; font-size:14px; text-transform:uppercase; margin-bottom:10px; }
.conta p{ margin:0 0 20px; line-height:1.3em; }
.conta p strong{ font-weight:700; }

.conta label{ display:block; margin-bottom:20px; }
.conta input{ display:block; width:50%; padding:5px 10px; font-size:14px; margin-top:5px; color:#666; }
.conta button{ display: block; width:20%; margin-left:34%; padding:5px 7px; border: 0; background-color: #0466a9; color: #FFF; font-size: 14px; font-size: 0.875rem; cursor: pointer;  }

/* ======================= */
/* FIXES
*/
.slogan{ font-size:24px; text-align:center; }
.link-termos a{ text-decoration:underline; color:#0466A9; cursor:pointer; }

/* ======================= */
/* MENSAGEM DE ERRO DE ACESSO
*/
.mensagem-acesso p{ display:block; margin:100px 0; text-align:center; font-size:20px; text-transform:uppercase; font-weight:400; }
.mensagem-acesso i{ display:inline-block; color:#ff9900; font-size:24px; margin-right:5px; }
.mensagem-acesso a{ color:#0466a9; }